body {
  margin: 0;
  font-family: sans-serif;
  background-color: #3b3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(fishing.jpg);
  background-size: cover;
  background-position: center;
}

header {
  background-color: #2880b9;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  margin: 0;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
 

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  color: #05337d;
}

p {
  margin: 0;
}

.back,
a {
  margin-top: 5px;
  background-color: #2880b9;
  color: white;
  text-decoration: none;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
